

.obal {background: $seda;

    
}

.main { 


&__grid {display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;}

&__item {padding: 30px;}

   
    @media screen and (max-width: 600px){
        &__grid {grid-template-columns: 1fr;
        }
        
    }
   

}
    
.row {
    
&__kontejner {padding: 30px 0px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    }

    @media screen and (max-width: 600px)
    {
    &__perex {padding: 0px 20px;}
    }

    @media screen and (min-width:601px) and (max-width: 1000px) {
        &__perex {padding: 0px 30px;}
    }
}
    
.maindva {background-color: $khaki; padding: 70px 0px; 
    
    &__border {border-color:$bezova;
        border-radius: 30px;
        border-style: solid;
        border-width: 1px;
        max-width: 1100px;
        margin: auto;}


    &__buttonkolem {padding: 30px;
    text-align: center;}

    &__section {
        max-width: 1100px;
        margin: 20px;
        text-align: left;
        display: grid;
        grid-template-columns: 50px 1fr 50px 1fr 50px 1fr;
        grid-gap: 50px 15px;}
    
    &__item--number {font-size: 50px;
    text-align: right;
    font-weight: bold;
    color: $bezova;}

    &__h2 {text-align: center;
    padding-bottom: 30px;}

    &__blog {padding: 0px 30px;}

    @media screen and (max-width: 600px){
    &__border {margin: 50px 20px;}

    &__section {grid-template-columns: 50px 1fr;
    }

    }

    @media screen and (min-width:601px) and (max-width: 1000px) {
    
    &__border {margin: 50px 20px;}

    &__section {grid-template-columns: 50px 1fr 50px 1fr;
        }
    }



}

.video {max-width: 1100px;
    margin: auto;
    padding: 30px 0px 70px 0px;
    
    &__gridtreti {display: grid;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px}

    &__h2 {padding-bottom: 60px;
    text-align: center;}

    &__perex {font-size: 30px;
    font-style: italic;}

    &__fb {border-radius: 30% 0;
    max-width: 100%;}

    &__obrys {
        display: flex;}
    
    &__popis {margin: auto;
        font-weight: lighter;
        font-size: 12px; }
    

         @media screen and (max-width: 600px){
                
         &__gridtreti {
         grid-template-columns: 1fr;
        gap: 0px;} 

        &__fb {max-width: 100%;
        padding: 0px 30px;}

        &__perex {padding: 0px 30px;
        font-size: 30px;}

        &__perex--autor {padding: 0px 30px;
        font-size: 16px;}

        &__obrys {
            padding: 0px 30px;}
        }
            
        @media screen and (min-width:601px) and (max-width: 1000px) {
                
            &__gridtreti {
                grid-template-columns: 1fr;
               gap: 0px;} 
       
               &__fb {max-width: 100%;
               padding: 0px 30px;
           }
       
               &__perex {padding: 0px 30px;
               font-size: 30px;}
       
               &__perex--autor {padding: 0px 30px;
               font-size: 16px;}
       
               &__obrys {
                   padding: 0px 30px;}
               
        }
    
}





.oblasti {background-color: $khaki; padding: 70px 0px;
    
    &__border {border-color:$bezova;
        border-radius: 30px;
        border-style: solid;
        border-width: 1px;
        max-width: 1100px;
        margin: auto;
    }


    

    &__buttonkolem {padding: 30px;
    text-align: center;}

    &__section1 {
        max-width: 1100px;
        margin: 20px;
        text-align: left;
        display: grid;
        grid-template-columns: 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
        grid-gap: 50px 15px;}
    
    &__item--number {font-size: 30px;
    text-align: right;
    font-weight: bold;
    color: $bezova;}

    &__h2 {text-align: center;}

    &__perex {text-align: center; padding: 30px 50px;}

    @media screen and (max-width: 600px){
        &__border {margin: 50px 20px;}

        &__section1 {grid-template-columns: 50px 1fr;}

        

        }

    

    @media screen and (min-width:601px) and (max-width: 1000px) {
                
        &__section1 {
            
            grid-template-columns: 50px 1fr 50px 1fr;
            grid-gap: 30px 15px;}

        &__border {margin: 50px 20px;}

               
        }
 }

 .historie {
    &__border {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 30px;}

    &__h2 {text-align: center;
    padding-top: 30px;}

    &__perex {text-align: center; padding: 30px 50px;}

    &__data {text-align: left; 
        padding: 30px 50px;
    background-color: black;}


}



.galerie {
    
    &__row, &__row2 {padding: 30px 0px;
        max-width: 1100px;
        margin: auto;
        text-align: center;
        }
    &__grid {display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
        max-width: 1100px;
        margin: auto;
        gap: 5px;}
    
    &__grid2 {display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1100px;
        margin: auto;
        gap: 20px;}
    
    &__ramecek {overflow: hidden;}
    
    &__blog {a {text-decoration: none;
        color:$zelena;}
    
    a:hover {color: $bezova;}
    a:active {color: $bezova;}
    }
    &__item-image {width: 100%;
        height: 200px;
        object-fit: cover;}


    &__obr {width: 100%;
        height: 100%;
        object-fit: cover;}

    &__obr:hover {
        transform: scale(1.1);
        transition: transform 0.5s;
   }    
    

        @media screen and (max-width: 600px){
            &__grid {grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, 300px)}
                
            }
    
        
    
        @media screen and (min-width:601px) and (max-width: 1000px) {
                    
            &__grid {grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 300px)}
                   
            }
}

